.bar {
    background-color: black;
    margin: 15px;
    position: relative;
    display: flex;
    width: 115px;
    justify-content: center;
}

.name {
    position: absolute;
    top: calc(100% + 15px);
}

.population {
    position: absolute;
    bottom: calc(100% + 15px);
}